<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../base.css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
    <title> Site </title>
</head>

<body>
    <nav>
        <div class="nav">
            <ul>
                <li><a href="/blog/bryan">Blog</a></li>
                <li><a href="/contact"> Contact</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/">Home</a></li>
            </ul>
        </div>
    </nav>
    <section id="blog">
        <form action="/blog/bryan/posts/create" method="POST">
            <input type="text" name="title" placeholder="ENTER POST TITLE">
            <input type="textarea" name="body" id="post-body" placeholder="ENTER POST BODY">
            <input type="submit" name="submit">
        </form>
        <ul>
         <% for(var i = 0; i < data.length; i++){ %>
            <li> <a href= "/blog/bryan/posts/<%= data[i].id %>" > <%= data[i].post_name %> </a> <p>
                <%= data[i].post_body %> </p> </li> <br>
            <% } %>
        </ul>
    </section>
</body>

</html>
